:root {
  --white: #E8EAED;
  --gray: #A6ACAF;
  --black: #171a20S;
  --black2: #161616;
  --red: #8D4A40;
}

html {
  width: 99.9vw;
  font-size: 62.5%;
  font-family: 'Fira Sans Extra Condensed', sans-serif;
  /* font-family: 'Unica One', cursive; */
  /* filter: invert(1); */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--black);
}

img {
  height: 4rem;
}

.header {
  width: 100%;
  height: auto;
  display: grid;
  /* grid-template-columns: repeat(3, 1rem); */
  grid-template-columns: repeat(3, auto);
  overflow: scroll;
  margin: .4rem;
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--black);
  position: fixed;
  z-index: 20;
}

.header-sectionLeft {
  margin-left: 3.6rem;
  display: flex;
  align-items: center;
}

.header-sectionLeft_logo {
  height: 1.6rem;
}

.header-sectionCenter {
  width: 100%;
}

.header-sectionCenter ul {
  display: flex;
  justify-content: space-evenly;
}

.header-sectionRight {
  display: flex;
  justify-content: center;
  justify-content: end;
  margin-right: 3.6rem;
}

.header-sectionRight_button {
  background: none;
  border: none;
  font-size: 1.8rem;
  display: none;
}

.header-sectionRight ul {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-items: center;
}

.header-sectionCenter ul li, .header-sectionRight ul li {
  padding: 1.2rem;
}
.header-sectionCenter ul li:hover, .header-sectionRight ul li:hover {
  background-color: #ededed;
  transition: .5s;
}

.header-sectionCenter ul li {
  margin: 0 .8em 0 .8rem;
  width: minmax(20rem, auto);
}

@media(max-width: 768px) {
  .fa-bars {
    font-size: 2.4rem;
  }
.header {
  display: flex;
  height: auto;
  flex-direction: column;
  position: fixed;
  border-radius: 1.2rem;
}

.header-sectionLeft {
  margin-left: 0;
  background-color: none;
  margin: 1.2rem 1.2rem 0 1.2rem;
}

.header-sectionLeft {
  display: flex;
  margin-left: 0;
  align-items: center;
  justify-content: space-between;
}

.header-sectionCenter {
  background-color: #A6ACAF;
  position: relative;
  left: 100%;
  transition: .3s;
}

.header-sectionCenter ul {
  flex-direction: column;
  align-items: center;
}

.header-sectionRight {
  flex-direction: column;
  justify-content: center;
  margin-right: 0;
  align-items: center;
  background-color: #A6ACAF;
  position: relative;
  left: 100%;
  transition: .3s;
}

.header-sectionRight_button {
  display: flex;
}

.header-sectionRight ul {
  display: flex;
  flex-direction: column;
}

.header-sectionCenter ul li, .header-sectionRight ul li {
  text-align: center;
  margin: 0;
}

.header-sectionCenter ul li {
  margin: 0;
  text-align: center;
}

.header-section_visible {
  left: 0;
}
}